.nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;

  background: #271f1f;
}
.main-link {
  display: flex;
}

.nav .nav-item {
  padding: 10px 30px 10px 30px;
  color: white;
}

.nav .nav-link {
  text-decoration: none;
  color: white;
}

.nav .nav-link:hover {
  color: goldenrod;
}
